@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

:root {
  --primary-color: #3a9494;
  --secondary-color: #7fe2e2;
  --other-color: #3a9494;
}
main {
  background-color: black;
}
* {
  box-sizing: border-box;
}
body {
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  line-height: 30px;
  text-decoration: wavy;
  margin: 0;
  background-size: cover;
  background-color: black;
  width: 100%;
}
h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  margin: 0;
}

.intro {
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.text {
  text-transform: capitalize;
}

.navHeader {
  text-transform: capitalize;
  text-decoration: none;
  color: #1e1e1e !important;
  font-size: 20px;
}

.navItem {
  text-transform: capitalize;
  text-decoration: none;
  color: #1e1e1e !important;
  font-size: 16px;
}

.text-center {
  text-align: center !important;
}

.logo:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.logo {
  padding: 30px 0;
  width: 80px;
  text-align: center;
}

.nav-btn {
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.list-link {
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: var(--secondary-color);
  color: black !important;
}

.open-btn {
  position: fixed;
  top: 10px;
  left: 10px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}

.nav.visible {
  transform: translateX(0);
  padding-left: 10px;
}

.nav-black {
  background-color: var(--primary-color);
  width: 60%;
  max-width: 410px;
  min-width: 400px;
  transition-delay: 0.4s;
}

.nav-black.visible {
  transition-delay: 0s;
}

.nav-white {
  background-color: var(--primary-color);
  width: 95%;
  padding: 40px;
  position: relative;
  transition-delay: 0s;
}

.nav-white.visible {
  transition-delay: 0.4s;
}

.close-btn {
  opacity: 0.3;
  position: absolute;
  top: 40px;
  right: 30px;
}

.nav .list {
  list-style-type: none;
  padding: 0;
}

.nav .list li {
  margin: 20px 0;
}

.nav .list li a {
  color: black;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
}

.cardItem li a {
  color: #188a99;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
}

.cardItem li a:hover {
  text-decoration: underline;
}

.nav .list Link {
  color: black;
  font-size: 14px;
  text-decoration: none;
  text-transform: capitalize;
}

.nav .list {
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav .list li a:hover {
  text-decoration: underline;
}

.nav .list ul {
  list-style-type: none;
  padding-left: 20px;
}

.nav ul li {
  padding: 5px;
  border-bottom: 2px solid var(--other-color);
}

header {
  font-size: 130%;
  position: relative;
  padding: 13px 16px;
  text-align: center;

  position: sticky;
  top: 0;
  backdrop-filter: blur(30px);
  z-index: 90;
}

header h1 {
  margin: 0;
}

p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

section:nth-child(even) {
  background-color: #f5f5f5;
}

section {
  padding: 50px 20px;
}

header p {
  margin: 30px 0;
}

button {
  background-color: var(--secondary-color);
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 12px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent */
}

.card-grid {
  align-items: center;
}
.cardItems {
  padding: 20px;
  margin: 10px;
  margin-bottom: 40px;
  background: rgb(17, 17, 17);
  border-radius: 12px;
  box-shadow: 0 0 5px var(--secondary-color);
  font-size: 16px;
  line-height: 30px;
}
.cardItem {
  padding: 20px;
  margin: 10px;
  margin-bottom: 40px;
  background: rgb(17, 17, 17);
  border-radius: 12px;
  box-shadow: 0 0 5px var(--secondary-color);
  font-size: 16px;
  line-height: 30px;
}

.nav .navHeader li a:hover {
  text-decoration: underline;
}

.cardItems3 {
  padding: 20px;
  margin: 40px;
  background: black;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 5px rgb(51, 51, 51);

  font-size: 20px;
  line-height: 30px;
}

.cardItems2 {
  padding: 20px;
  margin: 10px;
  background: black;
  border-radius: 12px;
  box-shadow: 5px 5px 5px 5px rgb(51, 51, 51);

  font-size: 16px;
  line-height: 30px;
}
.cardItems:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.image1 {
  transform: skewY(-10deg);
}

pre code {
  background-color: #1e1e1e; /* Dark gray background */
  padding: 1em;
  border-radius: 8px;
  display: block;
  overflow-x: auto;
  font-family: "Courier New", monospace;
  font-size: 2rem;
}

.header {
  font-size: 1.8rem;
}
